# Ignorar archivos y carpetas generales
*.class
*.log
*.iml
*.idea/

# Ignorar archivos de compilación
target/
bin/

# Otros archivos y carpetas comunes que no deben subirse
*.DS_Store

# Ignorar los archivos de test solo en la rama main
src/test/
